
.DS_Store
.gitattributes
/modules/__pycache__/
/TESTING/
__pycache__/
*.session
*.db
*.sqlite3
*-journal
*.json
*.mp3
*.mp4
*.m4a
*.webp
*.jpg
*.png
/json/
/venv/
/downloads/
/ytdlp_down/
client_beta.py
main_beta.py
.idea
unknown_errors.txt
/utils/config.py
/utils/sksks.py
